### Importing Libraries

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from tabulate import tabulate

### Function to Extract Files

In [2]:
def extract_files(file1,file2,sheet1,sheet2):
    df1=pd.read_excel(file1, sheet_name=sheet1,    )
    df2=pd.read_excel(file2, sheet_name=sheet2)
    
    return (df1,df2)

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=

### Function to Identify the Columns Name

In [3]:

def select(com):
    man=[]
    common=[]
    if com.lower()=="manual":
        no=int(input("Enter the number of common columns you want to apply VLOOKUP:  "))
        i=0
        while i<no:
            name=input("Enter the common column name in exact format given in table: ")
            man.append(name)
            i=i+1
            
    elif com.lower()=="common":
        for i in list(df1.columns):
            if i in list(df2.columns):
                common.append(i)

    else:
        print("Kindly try again !!")
    
    return(man,common)

#### Function to Proceed with Common Columns

In [4]:

def add(apply):
    i=0
    cols=[]
    while i<apply:
        col=input("Enter column " + str(i) + " name in exact format given in table 2 : ")
        cols.append(col)
        i=i+1
    return (cols)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

### Alotting the values based on common columns

In [5]:
def vlookup(cols,common):
    for match_col in cols:
        df1[match_col]=" "
        for j in df1.index:
            for k in df2.index:
                if (df1[common].loc[j]==df2[common].loc[k]).all(axis=0) == True:
                    df1[match_col][j]=df2[match_col][k] 
                    
    return (df1,df2)

In [6]:
def final(cols,man,common):
    if len(man)==0:
        df1,df2=vlookup(cols,common)
    
    else:
        df1,df2=vlookup(cols,man)
        
    return (df1,df2)

In [7]:
def tables_view(view):
    if view.upper()=='Y':
        display(df1.head())
        print()
        print()
        print()
        print()
        display(df2.head())

In [8]:
def format1(ffomat,file1):
    if ffomat=='csv':
        df=pd.read_csv(file1)
        
    else:
        sheet1=int(input("Sheet Number you want to work on: "))
        df=pd.read_excel(file1, sheet_name=sheet1)
        
    return (df)

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

### User Inputs and Final Outputs

In [9]:
ffomat=input("Enter the file 1 format: ")
file1=input("Enter the path of excel table you want to apply VLOOKUP in : ")
df1=format1(ffomat,file1)

ffomat2=input("Enter the file 2 format: ")
file2=input("Enter the path of excel table from you want to apply VLOOKUP : ")
df2=format1(ffomat2,file2)


view=input("Do you want to view the two tables Y/N : ")
tables_view(view)

com=input("To apply VLOOKUP using all common columns, type (Common) or to enter the common columns manually, type (Manual):   ")
man,common=select(com)


apply=int(input("Number of columns you want to add data in first table:  "))
cols=add(apply)

print("\n \n \n AFTER DATA \n \n \n")
df1,df2=final(cols,man,common)

print('Table 1')
display(df1.head())
print("\n \n\n\n")
print("Tbale 2")
display(df2.head())

Enter the file 1 format: csv
Enter the path of excel table you want to apply VLOOKUP in : D:DataSets/data1.csv
Enter the file 2 format: csv
Enter the path of excel table from you want to apply VLOOKUP : D:DataSets/data2.csv
Do you want to view the two tables Y/N : Y

,CIK,CONAME,FYRMO,FDATE,FORM,SECFNAME,Fog Index,Average Sentence Length,Percentage of Complex Words
0,3662,SUNBEAM CORP/FL/,199803,06-03-1998,10-K405,edgar/data/3662/0000950170-98-000413.txt,0.165959,0.207976,0.206921
1,3662,SUNBEAM CORP/FL/,199805,15-05-1998,10-Q,edgar/data/3662/0000950170-98-001001.txt,0.290581,0.204948,0.521504
2,3662,SUNBEAM CORP/FL/,199808,13-08-1998,NT 10-Q,edgar/data/3662/0000950172-98-000783.txt,25.903533,0.214388,64.544444
3,3662,SUNBEAM CORP/FL/,199811,12-11-1998,10-K/A,edgar/data/3662/0000950170-98-002145.txt,0.452119,0.211780,0.918518
4,3662,SUNBEAM CORP/FL/,199811,16-11-1998,NT 10-Q,edgar/data/3662/0000950172-98-001203.txt,27.387445,0.215029,68.253584

,CIK,CONAME,FYRMO,FDATE,FORM,SECFNAME,Fog Index,Average Sentence Length,Complex Word Count,Percentage of Complex Words,constraining words whole report
0,3662,SUNBEAM CORP/FL/,199803,06-03-1998,10-K405,edgar/data/3662/0000950170-98-000413.txt,0.165959,0.207976,35003,0.206921,723
1,3662,SUNBEAM CORP/FL/,199805,15-05-1998,10-Q,edgar/data/3662/0000950170-98-001001.txt,0.290581,0.204948,57937,0.521504,436
2,3662,SUNBEAM CORP/FL/,199808,13-08-1998,NT 10-Q,edgar/data/3662/0000950172-98-000783.txt,25.903533,0.214388,58090,64.544444,0
3,3662,SUNBEAM CORP/FL/,199811,12-11-1998,10-K/A,edgar/data/3662/0000950170-98-002145.txt,0.452119,0.211780,75989,0.918518,335
4,3662,SUNBEAM CORP/FL/,199811,16-11-1998,NT 10-Q,edgar/data/3662/0000950172-98-001203.txt,27.387445,0.215029,76171,68.253584,0

To apply VLOOKUP using all common columns, type (Common) or to enter the common columns manually, type (Manual):   Manual
Enter the number of common columns you want to apply VLOOKUP:  1
Enter the common column name in exact format given in table: SECFNAME
Number of columns you want to add data in first table:  1
Enter column 0 name in exact format given in table 2 : constraining words whole report



 AFTER DATA



Table 1

,CIK,CONAME,FYRMO,FDATE,FORM,SECFNAME,Fog Index,Average Sentence Length,Percentage of Complex Words,constraining words whole report
0,3662,SUNBEAM CORP/FL/,199803,06-03-1998,10-K405,edgar/data/3662/0000950170-98-000413.txt,0.165959,0.207976,0.206921,723
1,3662,SUNBEAM CORP/FL/,199805,15-05-1998,10-Q,edgar/data/3662/0000950170-98-001001.txt,0.290581,0.204948,0.521504,436
2,3662,SUNBEAM CORP/FL/,199808,13-08-1998,NT 10-Q,edgar/data/3662/0000950172-98-000783.txt,25.903533,0.214388,64.544444,0
3,3662,SUNBEAM CORP/FL/,199811,12-11-1998,10-K/A,edgar/data/3662/0000950170-98-002145.txt,0.452119,0.211780,0.918518,335
4,3662,SUNBEAM CORP/FL/,199811,16-11-1998,NT 10-Q,edgar/data/3662/0000950172-98-001203.txt,27.387445,0.215029,68.253584,0

Tbale 2

,CIK,CONAME,FYRMO,FDATE,FORM,SECFNAME,Fog Index,Average Sentence Length,Complex Word Count,Percentage of Complex Words,constraining words whole report
0,3662,SUNBEAM CORP/FL/,199803,06-03-1998,10-K405,edgar/data/3662/0000950170-98-000413.txt,0.165959,0.207976,35003,0.206921,723
1,3662,SUNBEAM CORP/FL/,199805,15-05-1998,10-Q,edgar/data/3662/0000950170-98-001001.txt,0.290581,0.204948,57937,0.521504,436
2,3662,SUNBEAM CORP/FL/,199808,13-08-1998,NT 10-Q,edgar/data/3662/0000950172-98-000783.txt,25.903533,0.214388,58090,64.544444,0
3,3662,SUNBEAM CORP/FL/,199811,12-11-1998,10-K/A,edgar/data/3662/0000950170-98-002145.txt,0.452119,0.211780,75989,0.918518,335
4,3662,SUNBEAM CORP/FL/,199811,16-11-1998,NT 10-Q,edgar/data/3662/0000950172-98-001203.txt,27.387445,0.215029,76171,68.253584,0

In [ ]:
df1.columns